@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    string returnUrl = (string)ViewData["returnUrl"] ?? "/Home";

}

@section Links{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

    <style>

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #009879;
            font-family: "Roboto", sans-serif;
        }

        .form-container {
            width: 40%;
            max-width: 400px;
            margin: auto;
            margin-top: 10%;
            padding: 45PX;
            background-color: white;
            box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
            text-align: center;
        }

        .text-field {
            padding: 15px;
            border: none;
            background-color: #F2F2F2;
            outline: none;
            margin-top: 10px;
            width: 100%;
            box-sizing: border-box;
            font-size: 1.2em;
        }

        .stay {
            user-select: none;
            margin-top: 10px;
            text-align: left;
        }

        .stay-check {
            transform: scale(2);
            margin: 0 10px;
        }

        .stay-label {
            font-size: 1.2em;
        }

        .form-submit {
            padding: 15px;
            border: none;
            background-color: #009879;
            color: white;
            outline: none;
            margin-top: 10px;
            width: 100%;
            cursor: pointer;
            font-size: 1.4em;
        }

        .header {
            margin: 10px 0;
        }

        .form-container form p {
            margin: 15px 0;
            color: #888484;
        }

            .form-container form p a {
                margin: 15px 0;
                color: #009879;
                text-decoration: none;
            }

        .ex-login {
            margin-top: 25px;
        }

            .ex-login a {
                color: white;
                padding: 15px;
            }

        .google {
            box-sizing: border-box;
            background-color: #009879;
            padding: 10px;
            margin: 0 10px;
        }

        .facebook {
            box-sizing: border-box;
            background-color: gray;
            pointer-events: none;
            margin: 0 10px;
        }

        .model-error {
            text-align: left;
            color: red;
            margin: 10px 0;
        }

        @@media only screen and (max-width: 1000px) {
            .form-container {
                width: 100%;
            }
        }

    </style>


    <div class="form-container">
        <h1 class="header">
            Login
        </h1>
        <form asp-action="Login" method="post" asp-route-returnUrl="@returnUrl">

            <input asp-for="Email" class="text-field" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Password" class="text-field" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <div class="stay">
                <input asp-for="StayLoggedIn" class="stay-check" />
                <label asp-for="StayLoggedIn" class="stay-label"></label>
            </div>

            <div asp-validation-summary="ModelOnly" class="model-error"></div>

            <input class="form-submit" type="submit">

            <p class="message">Not registered? <a asp-action="Register" asp-route-returnUrl="@returnUrl">Create an account</a></p>

            <div class="ex-login">

                <a class="google" asp-action="GoogleLogin"><i class="fa-brands fa-google"></i></a>

                <a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a>

            </div>
        </form>
    </div>


    @section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }

    @*
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

        .shape:first-child {
            background: linear-gradient( #1845ad, #23a2f6 );
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #ff512f, #f09819 );
            right: -30px;
            bottom: -80px;
        }

        form {
            height: 520px;
            width: 400px;
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
        }

            form * {
                font-family: 'Poppins',sans-serif;
                color: #ffffff;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        .input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 50px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

            .social div {
                background: red;
                width: 150px;
                border-radius: 3px;
                padding: 5px 10px 10px 5px;
                background-color: rgba(255,255,255,0.27);
                color: #eaf0fb;
                text-align: center;
            }

                .social div:hover {
                    background-color: rgba(255,255,255,0.47);
                }

            .social .fb {
                margin-left: 25px;
            }

            .social i {
                margin-right: 4px;
            }

    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" asp-route-returnUrl="@returnUrl">
        <h3>Login Here</h3>

        <label asp-for="Email"></label>
        <input class="input" asp-for="Email" placeholder="Email">

        <label asp-for="Password"></label>
        <input class="input" asp-for="Password" placeholder="Password">


        <label asp-for="StayLoggedIn">
            <input style="" asp-for="StayLoggedIn"/>
            @Html.DisplayNameFor(x => x.StayLoggedIn)
        </label>

        <button type="submit">Log In</button>
        <div class="social">
            <div class="go"><a class="btn btn-info" asp-action="GoogleLogin"><i class="fab fa-google"></i></a> Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>

        <a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@returnUrl">Register</a>

    </form>
</body>
</html>
*@